<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma Finance</title>
    <link rel="stylesheet" type="text/css" href="{{../publicPath}}/styles.css">
</head>
<body>
    <div class="container-home">
        {{{body}}}
    </div>
</body>
</html>