<div class="contato-container container mt-4">
  <form>
    <div class="">
      <label class="form-label" for="nome">Nome:
        <input class="form-control" type="text" />
      </label>
    </div>
    <div class="row mb-3">
      <label class="form-label" for="email">Email:
        <input class="form-control" type="text" />
      </label>
    </div>
    <div class="row mb-3"><textarea
        name="mensagem"
        id="mensagem"
        cols="30"
        rows="10"
      ></textarea></div>
    <div class="btn-contato">
      <button class="btn" id="btn-color" type="submit">Enviar</button>
    </div>
  </form>
</div>