<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="{{../publicPath}}/img/404.jpeg" alt="Erro 404" class="img-fluid">
      <h1 class="display-1 text-light">Erro 404</h1>
      <p class="lead text-light">Desculpe, a página que você está procurando não foi encontrada.</p>
      <a href="/" class="btn btn-primary">Voltar à página inicial</a>
    </div>
  </div>
</div>