<div class="container-sobrenos container mt-4 align-items-center">
  <div class="conteudo mt-4">
    <header>
      <h1 class="text-uppercase fw-bold">Sobre Nos</h1>
    </header>
    <section>
      <p>
        Sistema Criado com o objetivo de simplificar e facilitar o
        desenvolvimento de finanças das empresas com foco no desempenho e na
        proatividade. buscando sempre entregar o melhor trabalho.
      </p>
    </section>
    <section>
      <h2>missão</h2>

      <p class="text-wrap">Ser um time obstinado em prever e atender as
        necessidades dos clientes e usuarios sempre agregando valores
      </p>
    </section>

    <section>

      <h2>visão</h2>
      <p class="text-wrap">Ser reconhecida como um sistema de excelência em
        entregar o melhor resultado</p>
    </section>
    <section>
      <h2>Valores</h2>
      <ul class="lista-valores">
        <li>.Agir de forma correta
        </li>
        <li>.Honestidade</li>
        <li> .Comprometimento</li>
        <li>.Integridade</li>
        <li>.Respeito</li>
      </ul>

    </section>

  </div>

</div>