* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-home {
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(8, 105, 216, 0.3), rgba(3, 16, 51, 0.3)); */
    background: linear-gradient(180deg,rgba(9,35,175,1)0%,rgba(0,0,0,1)100%); 
    /* color:#fff; */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content2 h1 {
    text-align: center;
    font-size: 10vw;
    color: #fff;
    font-weight: 600;
}
